body {
    background-color: blueviolet;
}
h1 {
    color: aliceblue;
    text-align: center;
}

#formulario{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: white;
    color: black;
    border: 5px solid blue;
    border-radius: 5px;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    align-items: center;
}

.navbar{
    text-align: center;
    color: azure;
}


.bodyLogin {
    background-color: #3e497a;
    border: 3px solid #f1d00a;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 300px;
    padding: 40px;
    margin: 0cm;
    margin-left: auto;
    margin-right: auto;
  }
  
  .bodyLogin form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 50%;
    left: 50%;
  }
  
  .bodyLogin form input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  
  .bodyLogin form input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
  }
  
  .bodyLogin form input[type="text"]:focus {
    width: 280px;
    border-color: #f1d00a;
  }
  
  .bodyLogin form input[type="password"]:focus {
    width: 280px;
    border-color: #f1d00a;
  }
  
  .bodyLogin form input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    cursor: pointer;
  }
  
  .bodyLogin form input[type="submit"]:hover {
    background: #2ecc71;
  }